{erl_opts, [debug_info]}.

{deps, [
    {eredis, "1.4.0"},
    {poolboy, "1.5.2"}
]}.

{relx, [
    {release, {redis_global, "0.0.8"}, [sasl, poolboy, eredis, redis_global]},
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},
    {dev_mode, true},
    {include_src, true},
    {include_erts, false},
    {extended_start_script, true}]
}.

{minimum_otp_vsn, "22"}.

{plugins, [rebar3_run, rebar3_appup_plugin,rebar3_hex]}.
