{erl_opts, [debug_info]}.

{deps, [
    {eredis, {git, "https://github.com/wooga/eredis.git", {tag, "v1.2.0"}}},
    {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.2"}}}
]}.

{relx, [
    {release, {redis_global, "0.0.1"}, [sasl, poolboy, eredis, redis_global]},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {dev_mode, true},
    {include_src, true},
    {include_erts, false},
    {extended_start_script, true}]
}.

{minimum_otp_vsn, "22"}.

{plugins, [rebar3_run, rebar3_appup_plugin]}.
